@using Microsoft.AspNetCore.Hosting
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <title>@ViewBag.Title</title>
  <link rel="Shortcut Icon" href="~/images/favicon.png" type="image/png" />
  <meta charset="UTF-8" />
  <meta name="msvalidate.01" content="5E5C3834A15FB140C2EB6BEB195C2A28" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <canonical path="@ViewBag.Canonical" />
  <meta name="description" content="@ViewBag.Description" />
  <link rel="stylesheet" href="~/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.min.css?v=$v" />
  @RenderSection("Head", false)
</head>
<body>
  <header>
    @if (hostingEnv.IsDevelopment())
    {
      <div class="currentBreakpoint"></div>
    }
    <div id="logo"></div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<a class="sr-only sr-only-focusable" href="#content">[Skip to Content]</a>-->
      <ul id="Menu" class="navbar-nav mr-auto">
        <vc:menu site-map-name="web.sitemap" level="1" li-class="nav-item" a-class="nav-link" />
        <vc:menu site-map-name="web.sitemap" level="2" li-class="nav-item" a-class="nav-link" />
      </ul>
    </div>
  </nav>
  <main id="content">
    @RenderBody()
  </main>
  <footer>
    @this.RenderSection("Footer", Html, "_Footer")
  </footer>
  <div id="fb-root"></div>
  @RenderSection("Scripts", false)
  <script src="~/js/core.js" src-min="~/js/core.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>