@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@{
    var image = Model.PageLinkImage as IPublishedContent;
    var altText = image?.Value<string>("umbracoAltText");
    altText = String.IsNullOrWhiteSpace(altText) ? String.Empty : altText;
    var rel = Uri.IsWellFormedUriString(Model.PageLinkUrl, UriKind.Absolute) ? "external nofollow" : null;
}
  <aside class="page-link">
    <a href="@Model.PageLinkUrl" target="_blank" rel="@rel">
      @if (image != null)
      {
        <img src="@image.Url()" alt="@altText" role="@(String.IsNullOrEmpty(altText) ? "presentation" : null)" />
      }
      @if (!String.IsNullOrWhiteSpace(Model.PageLinkText))
      {
        <span>@Model.PageLinkText</span>
      }
    </a>
  </aside>